.scrollContainer {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */

}


.scrollContainer::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
  
}
.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.4); /* cyan glow */
  background-color: #2a2a2a;
}

